# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# MongoDB Configuration
MONGODB_URI=your_mongodb_connection_string_here

# JWT Configuration
JWT_SECRET_KEY=your_jwt_secret_key_here
SECRET_KEY=your_secret_key_here

# Frontend Origin
FRONTEND_ORIGIN=http://localhost:5173

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

# Email Configuration
SMTP_SERVER=your_smtp_server_here
SMTP_PORT=587
SMTP_USERNAME=your_email_username_here
SMTP_PASSWORD=your_email_password_here 